{% extends "base.html" %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-4">{{book.title}}</h1>
    <p class="lead"><strong>isbn: </strong>{{book.isbn}}</p>
    <p class="lead"><strong>author: </strong>{{book.authors.name}}</p>
    <p class="lead"><strong>publication year: </strong>{{book.year}}</p>
  </div>

  <form action="{{ url_for('book', book_id=book.id) }}" method="post">
    <div class="form-group">
      <label for="review">review</label>
      <select name="review" id="review" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="review_opnion" placeholder="Your opnion"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Send review</button>
    </div>
  </form>

  <div class="form-group">
    <a class="btn btn-primary" href="{{ url_for('search') }}">Search</a>
  </div>
{% endblock %}